@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  background-color: #a6afae;
  text-decoration: none;
}

h1 {
  font-size: 8vh;
  text-align: center;
  margin-top: 50px;
  align-items: center;
  font-weight: 800;
  color: #212529;
  text-shadow: 1px 1px #fff;
}


h4 {
  font-size: 3vh;
  text-align: center;
  align-items: center;
  font-weight: 800;
  color: black;
  text-shadow: 1px 1px #fff;
}

.button {

  background-color: #555555;
  color: white;
  padding: 15px 32px;
  position: relative;
  font-weight: 600;
  font-size: 2vh;
  border-radius: 15px;
  transition-duration: 0.4s;
  font-family: 'Cinzel Decorative', cursive;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 20px 0 rgba(0, 0, 0, 0.19);
}

div.button2 {
  text-align: center;
  margin-top: auto;
}

div.button1 {
  text-align: center;
  margin-top: auto;
}

div.iframe {
  text-align: center;
  margin-top: 50px;
}

:root {
  --shadow-color: #212529;
  --shadow-color-light: white;
}


p.titulo{
  font-size: 32px;
  text-transform: uppercase;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 800;
  display: block;
  height: auto;
  text-align: center;
}
p.footertext{
  font-size: 14px;
}

.texto-2{
  font-size: 22px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.logo-1 {
  color: white;
  animation: neon 6s infinite;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }

  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }

  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}

.container-fluid, nav, ul, span, .navbar-collapse{
  background-color: black;
}

.container-fluid a{
  color: white !important;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  background-color: black;
}

a:hover{
  color: lightgray !important;
}

